html {
  scroll-behavior: smooth;
}
body{
	font-family: 'Montserrat', sans-serif;
	color:#514e5d;
	
}
/*********************NAV***************************/
.navbar {
    margin-bottom: 0;
    border-radius: 0;
    position: sticky;
    z-index: 999;
    top: 0;
    left: 0;
    background: #fff;
    border-bottom: 1px solid;
}

.navbar-brand {
    height: 100px
}

.navbar-brand>img {
    width: auto;
    height: -webkit-fill-available;
}

.flex-nav{
	display: flex;
    align-items: center;
}
.navbar-header {
    width: 10%;
}
div#myNavbar {
    width: 90%;
}
.navbar-nav>li>a {
    color: #514e5d;
    transition: all ease 0.4s;
    border-radius: 40px;
    padding: 5px 30px;
    font-weight: 500;
    margin-left: 15px;
}
.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: #ee4367;
    color: #fff;

			transition:all ease 0.4s;

}
/*************************WORK**********************/
.light{
	font-weight:200;
}

.bold{
	font-weight:800;
}
div#work {
    padding: 100px 0;
    /* margin-bottom: 0; */
}
.jumbotron h2.text-left {
    margin: 0;
}
.jumbotron p.text-right {
    margin: 0!important;
}

#work .text-right {
    font-weight: 500;
    color: #1c1259;
}
.see-right i {
    color: #1c1259;
    background: #fff;
    padding: 5px 10px;
    border-radius: 50%;
    font-size: 16px;
	 -webkit-box-shadow: 4px 5px 12px -3px rgba(0,0,0,0.4);
    -moz-box-shadow: 4px 5px 12px -3px rgba(0,0,0,0.4);
    box-shadow: 4px 5px 12px -3px rgba(0,0,0,0.4);
}

.project img {
    width: 100%;
}

#work .row {
    margin: 20px 0 0!important;
}
#work .col-xs-12 {
    padding: 0;
}

.project img {
    border-radius: 5px;
    -webkit-box-shadow: 4px 5px 12px -3px rgba(0,0,0,0.4);
    -moz-box-shadow: 4px 5px 12px -3px rgba(0,0,0,0.4);
    box-shadow: 4px 5px 12px -3px rgba(0,0,0,0.4);
}
a.single-project:hover i {
    opacity: 1;
    top: 170px;
    transition: all ease-in 0.3s;
}
.single-project i {
    opacity: 0;
    position: absolute;
    left: 15px;
    font-size: 7px;
    top: 185px;
    background: #ee4367;
    padding: 10px;
    border-radius: 100%;
    color: #fff;
	z-index:100;
    -webkit-box-shadow: 4px 5px 12px -3px rgba(0,0,0,0.4);
    -moz-box-shadow: 4px 5px 12px -3px rgba(0,0,0,0.4);
    box-shadow: 4px 5px 12px -3px rgba(0,0,0,0.4);
}

a.single-project{
	position:relative;
}

.single-project .project::after {
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.05);
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 0;
    transition: all ease 0.3s;
    border-radius: 5px;
}


.single-project:hover .project::after {
    opacity: 1;
}
.project {
    position: relative;
	border-radius:8px;
}

.single-project > *
{
	z-index:100;
}



/*********************************Contact****************************/


/* .work2 img { */
    /* animation: logo-play2 2s steps(58) infinite; */
    /* animation-direction: reverse; */
    /* left: 0; */
    /* position: absolute; */
    /* top: 0; */
    /* animation-play-state: running; */
/* } */
/* .anim-mask2 { */
    /* overflow: hidden; */
    /* width: 80px; */
    /* height: 60px; */
	/* position:relative; */
/* } */



.work2 img{animation:logo-play2 2s steps(58) infinite;animation-direction:reverse;left:0;position:absolute;top:0;animation-play-state:running;}
.work2:hover img{animation-play-state:paused;}
.anim-mask2 {
    overflow: hidden;
    width: 80px;
    height: 60px;
    position: relative;
    margin: auto;
}
@keyframes logo-play2{100%{left:-5800%;}}


#contact h2 a:hover{
	text-decoration:none;
}

#contact h2 a{
	color:#514e5d;
}

.social {
    margin: 30px auto;
    display: table;
}
.social span {
    /* margin: 10px; */
    font-size: 20px;
    padding: 10px 15px;
    /* border: 1px solid; */
}




.social a{
  position: relative;
  text-decoration: none;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  display: inline-block;
  font-size: 24px;
  color: #514e5d;
  padding: 0 10px 0 5px;
}
.social a:before{
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  width: 0;
  height: 0;
  background: transparent;
  border: 1px solid transparent;
}
.social a:hover:before{
  animation: animate 0.4s ease-in forwards;
}
@keyframes animate{
  0%{
    width: 0;
    height: 0;
    border-top-color: #514e5d;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
  }
  50%{
    width: 100%;
    height: 0;
    border-top-color: #514e5d;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-right-color: #514e5d;
  }
  100%{
    width: 100%;
    height: 100%;
    border-top-color: #514e5d;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-right-color: #514e5d;
  }
}


.social a:after{
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  width: 0;
  height: 0;
  background: transparent;
  border: 1px solid transparent;
}
.social a:hover:after{
  animation: animate2 0.4s ease-in forwards;
  animation-delay: 0.1s;
}
@keyframes animate2{
  0%{
    width: 0;
    height: 0;
    border-top-color: transparent;
    border-bottom-color: transparent;
    border-left-color: #514e5d;
    border-right-color: transparent;
  }
  50%{
    width: 0;
    height: 100%;
    border-top-color: transparent;
    border-bottom-color: #514e5d;
    border-left-color: #514e5d;
    border-right-color: transparent;
  }
  100%{
    width: 100%;
    height: 100%;
    border-top-color: transparent;
    border-bottom-color: #514e5d;
    border-left-color: #514e5d;
    border-right-color: transparent;
  }
}


/***********************carousel*******************/


.carousel .item {
  /* padding-bottom: 56.25%; */
  background-size: cover;
}
.carousel .item:nth-child(1) {
  /* background-image: url('https://via.placeholder.com/1280x220?text=Slide 1'); */
}
.carousel .item:nth-child(2) {
  /* background-image: url('https://via.placeholder.com/1280x220?text=Slide 2'); */
}
.carousel .item:nth-child(3) {
  /* background-image: url('https://via.placeholder.com/1280x220?text=Slide 3'); */
}
.carousel.vertical .carousel-inner > .item {
  transition: 0.6s ease-in-out top;
}
@media all and (transform-3d), (-webkit-transform-3d) {
  .carousel.vertical .carousel-inner > .item {
    transition: -webkit-transform 0.6s ease-in-out;
    transition: transform 0.6s ease-in-out;
    transition: transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -ms-perspective: 1000;
    -webkit-perspective: 1000;
    perspective: 1000;
  }
  .carousel.vertical .carousel-inner > .item.next,
  .carousel.vertical .carousel-inner > .item.active.right {
    top: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  .carousel.vertical .carousel-inner > .item.prev,
  .carousel.vertical .carousel-inner > .item.active.left {
    top: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  .carousel.vertical .carousel-inner > .item.next.left,
  .carousel.vertical .carousel-inner > .item.prev.right,
  .carousel.vertical .carousel-inner > .item.active {
    top: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.carousel.vertical .carousel-inner > .active {
  top: 0;
}
.carousel.vertical .carousel-inner > .next,
.carousel.vertical .carousel-inner > .prev {
  top: 0;
  height: 100%;
  width: 100%;
}
.carousel.vertical .carousel-inner > .next {
  left: 0;
  top: 100%;
}
.carousel.vertical .carousel-inner > .prev {
  left: 0;
  top: -100%;
}
.carousel.vertical .carousel-inner > .next.left,
.carousel.vertical .carousel-inner > .prev.right {
  top: 0;
}
.carousel.vertical .carousel-inner > .active.left {
  left: 0;
  top: -100%;
}
.carousel.vertical .carousel-inner > .active.right {
  left: 0;
  top: 100%;
}
.carousel.vertical .carousel-indicators,
.carousel-indicators-vertical {
  right: 20px;
  top: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  bottom: auto;
  left: auto;
  width: auto;
  margin: 0;
  padding: 0;
}
.carousel.vertical .carousel-indicators li,
.carousel-indicators-vertical li {
  display: block;
  margin: 5px 0;
}

.carousel-indicators .active li , .carousel-indicators li{
	border:1px solid #ee4367;
	width:12px!important;
	height:12px!important;
	border-radius:100%;
}
.carousel-indicators .active  {
	background:#ee4367!important;
}

.carousel .item {
    width: 100%;
    border-radius: 8px;
    height: 200px;
    background: #ee3467;
}
.carousel.vertical .carousel-indicators, .carousel-indicators-vertical {
    right: -30px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.carousel.vertical .carousel-indicators, .carousel-indicators-vertical {
    right: -30px;
    top: 50%;
    -webkit-transform: translate(-50%);
    transform: translateY(-50%);
    bottom: auto;
    left: auto;
    width: auto;
    margin: 0;
    padding: 0;
}

#carousel{
	margin:75px 0;
}



/****************************about************************/


.row.about{display:flex;align-content:center;align-items:center;margin:0px auto 100px;}
.about h2{font-weight:700;width:80%;font-size:40px;}
.about p{margin:20px 0;text-align:justify;line-height:1.85;width:80%;}
.about p a{position:relative;transition:all ease-in-out 0.3s;text-decoration:none;}
/* .about a span{background:#fcd306;color:#ee4366;font-size:30px;padding:0px 18px 8px;border-radius:50%;line-height:5px;} */
